@import url(page.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
.A {
  color: #3377aa;
}
.Y {
  color: #cc4400;
}
.shortcode {
  color: #555;
}
#tooltip {
  background: white;
}
#header {
  background-color: #eeeeeef0;
}
input	{
  border-bottom: 2px solid black;
}
img.logo {
  filter: grayscale(100%);
}
#results {
  background-color: #dddddd;
}
#results li.result:hover {
  background-color: #bbbbbb;
}